@{
    ViewBag.Title = "エラーが発生しました";
    ViewBag.Page = "A5";
}
<link href="/css/style.css" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<div class="container">
    <div class="gpp_page-heading">
        <div class="gpp_mt-32 page-header">
            <h1 class="hd2-type01">@ViewBag.Title</h1>
        </div>
    </div>
    <!-- 説明エリア-->
    <div class="gpp20-section">
        <div class="gpp20-description">
            <p>エラーが発生しました。トップページからやりなおしてください。</p>
        </div>
    </div>
    <!-- ボタン-->
    <div class="gpp20-section gpp_mb-40">
        <div class="gpp_buttongroup center"><a class="btn-primary gpp_button gpp_btn-primary" href="https://mhlwpp.microsoftcrmportals.com/">トップへ戻る</a></div>
    </div>
</div>